.changePassword {
    background-image: url("../assets/bg3.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-color: #fff;
    padding-bottom: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.changePassword.on {
    background-color: #000; 
}


.changePassword .toggle-container {
    padding: 2px;
    align-self: flex-end;
background: linear-gradient(180deg, #F197F4 0%, #2B3A63 100%);
border-radius: 15px;
box-shadow: 0px 0px 5px 0px #0000008C;
position:absolute;
top: 80px;
right: 10px;
}

.changePassword  .toggle-switch {
    width: 60px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    align-self: flex-end;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .changePassword  .toggle-switch.on {
    background-color: #000;
  }

  .changePassword  .toggle-switch.off {
    background-color: #fff
  }
  
  .changePassword  .toggle-switch-circle {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
  .changePassword   .toggle-switch.on .toggle-switch-circle {
    /* transform: translateX(30px); */
    color: #000;
    }

    .changePassword   .toggle-circle-container {
    transition: transform 0.3s ease;
    padding:2px;
  }

  .changePassword .toggle-circle-container.off {
    background: linear-gradient(180deg, #F197F4 0%, #2B3A63 100%);
    border-radius: 50%;
    padding: 2px
  }

  .changePassword  .toggle-circle-container.on {
    transform: translateX(30px);
    background: linear-gradient(180deg, #F197F4 0%, #2B3A63 100%);
    box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.45);
    border-radius: 50%;
    padding: 2px
  }

  .changePassword  .toggle-switch-circle.on {
    background-color: #000;
  }

  .changePassword   .toggle-switch-circle.off {
    background-color: #fff;
  }

  .changePassword  .toggle-circle-container.off {
    background-color: transparent;
  }

.button {
    background: linear-gradient(180deg, #2B3A63 0%, #B382D3 100%);
width: max-content;
padding: 2px 8px;
font-size: 1.2rem;
}

.changePassword .container {
    width: 45%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    box-shadow: 0px 0px 45px 0px #000000A6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(15px);
    border-radius: 15px;
    background: #FFFFFF05;
    border: 1px solid #FFFFFF40;
    box-shadow: 0px 0px 45px 0px #000000A6;
}

.changePassword .container h1 {
    font-size: 2.4rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 6px #000;
    text-align: center;
}

.changePassword form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
    margin-top: 20px;
}

.changePassword form label, .changePassword form p {
    font-size: 0.95rem;
    margin-bottom:3px;
}

.changePassword label.off, .changePassword form p.off {
    color: #000;
}


form input {
    margin-bottom: 20px;
    width: 100%;
    padding: 8px;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 0px 25px 0px #000000;
border-radius: 10px;
background: #00000080;
}

form input::placeholder {
    color: #fff
}

.changePassword form button {
    margin-left: auto;
    margin-right: auto;
     width: 100%;
    padding: 3px;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 0px 25px 0px #000000;
border-radius: 10px;
background: #00000080;
margin-top: 15px;
}

.changePassword form button:hover {
    background: #FFFFFF70;
}

.changePassword .back-btn {
    font-family: 'Padyakke Expanded One';
    font-size: 1.3rem;
    margin-top: 10px;
    text-shadow: 2px 2px 6px #000
}

.changePassword .back-btn:hover {
    cursor: pointer
}

.changePassword .back-btn.off {
color: #000;
}


@media screen and (max-width: 1028px) {
  .changePassword .container {
    width: 60%;
  }
}

@media screen and (max-width: 770px) {
  .changePassword .toggle-container {
    top: 60px;
  }
  .changePassword .container {
    width: 80%;
    margin-top: 120px;
  }
}

@media screen and (max-width: 550px) {
  .changePassword .container {
    width: 90%;
  }
  .changePassword .container form {
    width: 75%;
  }
}