.navbar {
    background: #2B3A6340;
    border: 1px solid #2B3A630D;
    box-shadow: 0px 0px 40px 0px #00000033;
    padding: 10px;
    transition: background 0.8s ease;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    backdrop-filter: blur(4px);
    z-index: 1;
}

.navbar:hover {
    background: #2B3A6380;
}

.navbar .left img {
    width: 170px;
}

.navbar .middle p{
    color: #fff;
    margin: 0 10px;
    font-size: 1.3rem;
}

.navbar .middle p {
    position: relative;
    display: inline-block;
    color: #fff; /* Initial text color */
    background-image: linear-gradient(90deg, #E69AE8 50%, #fff 50%);
    background-size: 200%;
    background-position: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.5s ease; /* Smooth transition */
}

/* Hover effect to fill text color */
.navbar .middle p:hover {
    cursor: pointer;
    background-position: 0; /* Move gradient to fill text with pink */
}

.navbar .right button {
    color: #fff;
    box-shadow: 0px 0px 20px 0px #00000066;
font-size: 1.3rem;
margin-left: 10px;
padding:2px 8px;
border-radius: 10px;
border: 0.7px solid #fff;
}

.navbar .right button:first-child {
    background: linear-gradient(180deg, #2B3A63 0%, #B382D3 100%);
}
.navbar .right button:first-child:hover {
    background: linear-gradient(180deg, #B382D3 0%, #2B3A63 100%);
}

.navbar .right button:last-child {
    background: linear-gradient(180deg, #B382D3 0%, #2B3A63 100%);
}
.navbar .right button:last-child:hover {
    background: linear-gradient(180deg, #2B3A63 0%, #B382D3 100%);
}
