html, body {
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}
body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

* {
    font-family: "Jura", sans-serif;
    color: #fff;
    font-weight: 300 !important
}

p {
    margin-bottom: 0;
}

input:focus, textarea:focus {
    outline: none
}

